/*  
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/

.h7,
h7 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 0.75rem;
}

@media only screen and (max-width: 767px) {
    .h1,
    h1 {
        font-size: 2rem
    }
    .h2,
    h2 {
        font-size: 1.75rem
    }
    .h3,
    h3 {
        font-size: 1.5rem
    }
    .h4,
    h4 {
        font-size: 1.25rem
    }
    .h5,
    h5 {
        font-size: 1rem
    }
    .h6,
    h6 {
        font-size: 0.75rem
    }
    .h7,
    h7 {
        font-size: 0.5rem;
    }
    .sticky {
        width: 87%;
    }
    .hide-sm {
        display: none;
    }
    .small {
        font-size: 70%;
    }
    body {
        font-size: .7rem;
    }
}

@media only screen and (min-width: 768px) {
    .h1,
    h1 {
        font-size: 2rem
    }
    .h2,
    h2 {
        font-size: 1.75rem
    }
    .h3,
    h3 {
        font-size: 1.5rem
    }
    .h4,
    h4 {
        font-size: 1.25rem
    }
    .h5,
    h5 {
        font-size: 1rem
    }
    .h6,
    h6 {
        font-size: 0.75rem
    }
    .h7,
    h7 {
        font-size: 0.5rem;
    }
    .sticky {
        width: 93%;
    }
    .hide-sm {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .sticky {
        width: 94.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .sticky {
        width: 95.5%;
    }
}

@media print {
    .noprint {
        display: none !important;
    }
    .row-header {
        display: table-header-group !important;
    }
    [id|='row-'] {
        font-size: 0.5rem !important;
    }
}

body {
    font-size: .75rem !important;
}

.sticky {
    position: fixed;
    z-index: 1;
    background-color: white;
}

[class|='col-'] {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.nav-text {
    padding-top: 8px;
    color: #008000;
    background-color: #f0fff0;
}

.clr-dark-green {
    color: #008000;
}

.clr-light-green {
    color: #e8ffe8;
}

.bkg-light-green {
    background-color: #f0fff0;
}

.bkg-dark-gray {
    background-color: #c0c0c0;
}

.bkg-light-gray {
    background-color: #d0d0d0;
}

.bkg-white {
    background-color: #ffffff;
}

.card-title {
    color: #008000;
}

.btn-green {
    color: #008000;
    background-color: #e8ffe8;
    border-color: #008000;
}

[id|='btn']:hover {
    background-color: #f8fff8;
}

.btn-green.disabled,
.btn-green:disabled {
    color: #75b675;
    border: 0px;
}

.btn-green.focus,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.btn-green:not(:disabled):not(.disabled):active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, .1);
    animation: pulse .25s 1;
}

@-webkit-keyframes pulse {
    from {
        background-color: #008000;
    }
    to {
        background-color: #e8ffe8;
    }
}

/* Standard syntax */

@keyframes pulse {
    from {
        background-color: #008000;
    }
    to {
        background-color: #e8ffe8;
    }
}

.no-border {
    border: 0px;
}