/*  
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/

@media only screen and (max-width: 767px) {

    .h1,
    h1 {
        font-size: 1.62rem
    }

    .h2,
    h2 {
        font-size: 1.41rem
    }

    .h3,
    h3 {
        font-size: 1.215rem
    }

    .h4,
    h4 {
        font-size: 1rem
    }

    .h5,
    h5 {
        font-size: .81rem
    }

    .h6,
    h6 {
        font-size: 0.61rem
    }
}

@media only screen and (min-width: 768px) {

    .h1,
    h1 {
        font-size: 2rem
    }

    .h2,
    h2 {
        font-size: 1.75rem
    }

    .h3,
    h3 {
        font-size: 1.5rem
    }

    .h4,
    h4 {
        font-size: 1.25rem
    }

    .h5,
    h5 {
        font-size: 1rem
    }

    .h6,
    h6 {
        font-size: 0.75rem
    }
}

@font-face {
    font-family: 'glyph';
    src: url('NMS-Glyphs-Mono.ttf') format('truetype');
}

.glyph {
    font-family: "glyph" !important;
    font-weight: bold;
}

.monospace {
    font-family: "Courier New" !important;
    font-weight: bold;
}

body {
    font-size: .75rem !important;
    font-family: "Arial";
    background-color: black;
}

.waiting {
    cursor: progress !important;
}

.row,
[class|='col-'] {
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

.hidden {
    display: none;
}

.nopadding-left {
    padding-left: 0px !important;
}

#tip {
    background-color: white;
    border: 1px solid blue;
    position: absolute;
    left: -800px;
    top: 100px;
    font: 16px Arial;
}

.border-3 {
    border-width: 3px !important;
}

.border-black {
    border-color: black;
}

.border-white {
    border-color: white;
}

.border-gold {
    border-color: gold;
}

.border-def {
    border-color: gold;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-text {
    padding-top: 8px;
    color: blue;
    background-color: #f0fff0;
}

.clr-def {
    color: black;
}

.bkg-def {
    background-color: black;
}

.txt-def {
    color: gold;
    background-color: black;
}

.txt-inp-def {
    color: blue;
}

.btn-def {
    background-color: black;
    border-color: gold;
    color: gold;
}

.btn-def.disabled,
.btn-def:disabled {
    border: 0px;
}

.btn-def.focus,
.btn-def:focus,
.btn-def:not(:disabled):not(.disabled).active:focus,
.btn-def:not(:disabled):not(.disabled):active:focus,
.show>.btn-def.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem gold;
    color: gold;
}

.btn-def:not(:disabled):not(.disabled).hover,
.btn-def:not(:disabled):not(.disabled):hover {
    box-shadow: 0 0 0 .2rem gold;
    color: gold;
    opacity:0.75;
}

.clr-dark-green {
    color: #008000;
}

.clr-creme {
    color: rgb(238, 227, 183);
}

.clr-light-green {
    color: #e8ffe8;
}

.bkg-trans {
    background-color: transparent;
}

.bkg-trans-1 {
    background-color: rgba(255, 255, 255, .1);
}

.bkg-trans-2 {
    background-color: rgba(255, 255, 255, .2);
}

.bkg-white {
    background-color: white;
}

.bkg-black {
    background-color: black;
}

.bkg-green {
    background-color: green;
}

.bkg-light-green {
    background-color: #f0fff0;
}

.bkg-dark-gray {
    background-color: #c0c0c0;
}

.bkg-light-gray {
    background-color: #d0d0d0;
}

.bkg-vlight-gray {
    background-color: #e0e0e0;
}

.bkg-white {
    background-color: #ffffff;
}

.clr-white {
    color: #ffffff;
}

.clr-blue {
    color: #5dace0;
    border-color: #5dace0;
}

.card-title {
    color: #008000;
}

.btn-green {
    color: #008000;
    background-color: #e8ffe8;
    border-color: #008000;
}

.btn-green.disabled,
.btn-green:disabled {
    color: #75b675;
    border: 0px;
}

.btn-green.focus,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.btn-green:not(:disabled):not(.disabled):active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, .1);
    animation: pulse .25s 1;
}

.button {
    cursor: pointer;
}

.pointer {
    cursor: pointer !important; 
}

.hanging-indent {
    padding-left: 40px;
    text-indent: -40px;
}

 .no-padding {
    padding: 0px 0px !important;
} 

.pl-15 {
    padding-left: 15px !important;
} 

.pl-30 {
    padding-left: 30px !important;
} 

@-webkit-keyframes pulse {
    from {
        background-color: #008000;
    }

    to {
        background-color: #e8ffe8;
    }
}

/* Standard syntax */

@keyframes pulse {
    from {
        background-color: #008000;
    }

    to {
        background-color: #e8ffe8;
    }
}

.no-border {
    border: 0px;
}

.border-top-gold {
    border-top: 1px solid;
    border-color: gold;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-menu {
    right: auto !important;
    left: auto !important;
}