/*  
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/

@media only screen and (max-width: 767px) {

    .h1,
    h1 {
        font-size: 1.62rem
    }

    .h2,
    h2 {
        font-size: 1.41rem
    }

    .h3,
    h3 {
        font-size: 1.215rem
    }

    .h4,
    h4 {
        font-size: 1rem
    }

    .h5,
    h5 {
        font-size: .81rem
    }

    .h6,
    h6 {
        font-size: 0.61rem
    }

    .txt-label-def {
        font-size: 0.75rem;
    }

    .txt-input-def {
        font-size: .81rem
    }

    .txt-glyph-disp {
        font-size: 1rem
    }
}

@media only screen and (min-width: 768px) {

    .h1,
    h1 {
        font-size: 2rem
    }

    .h2,
    h2 {
        font-size: 1.75rem
    }

    .h3,
    h3 {
        font-size: 1.5rem
    }

    .h4,
    h4 {
        font-size: 1.25rem
    }

    .h5,
    h5 {
        font-size: 1rem
    }

    .h6,
    h6 {
        font-size: 0.75rem
    }

    .txt-label-def {
        font-size: 1rem
    }

    .txt-input-def {
        font-size: 1rem
    }

    .txt-glyph-disp {
        font-size: 1.5rem
    }
}

@font-face {
    font-family: 'NMS Glyphs';
    src: url('/bin/NMS-Glyphs-Mono.ttf') format('truetype');
}

.glyph {
    font-family: "NMS Glyphs" !important;
    font-weight: bold;
}

.txt-glyph-disp {
    font-family: "NMS Glyphs" !important;
    font-weight: bold;
}

.monospace {
    font-family: "Courier New" !important;
    font-weight: bold;
}

body {
    font-family: "Arial";
    background-color: black;
}

.waiting {
    cursor: progress !important;
}

.row,
[class^=col] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.nopadding {
    padding: 0px !important;
    margin: 0px !important;
}

.hidden {
    display: none;
}

.nopadding-left {
    padding-left: 0px !important;
}

.border-3 {
    border-width: 3px !important;
}

.border-black {
    border-color: black;
}

.border-white {
    border-color: white;
}

.border-gold {
    border-color: gold;
}

.border-def {
    border-color: gold;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-text {
    padding-top: 8px;
    color: blue;
    background-color: #f0fff0;
}

.clr-def {
    color: black;
}

.bkg-def {
    background-color: black;
}

.txt-def {
    color: gold;
    background-color: black;
}

.txt-label-def {
    color: blue;
}

.txt-glyph-disp,
.txt-input-def {
    border-radius: 4px;
}

.btn-def {
    background-color: black;
    border-color: gold;
    color: gold;
}

.btn-def.disabled,
.btn-def:disabled {
    border: 0px;
}

.btn-def.focus,
.btn-def:focus,
.btn-def:not(:disabled):not(.disabled).active:focus,
.btn-def:not(:disabled):not(.disabled):active:focus,
.show>.btn-def.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem gold;
    color: gold;
}

.btn-def:not(:disabled):not(.disabled).hover,
.btn-def:not(:disabled):not(.disabled):hover {
    box-shadow: 0 0 0 .2rem gold;
    color: gold;
    opacity: 0.75;
}

.clr-dark-green {
    color: #008000;
}

.clr-cream {
    color: rgb(238, 227, 183);
}

.clr-light-green {
    color: #e8ffe8;
}

.bkg-trans {
    background-color: transparent;
}

.bkg-trans-1 {
    background-color: rgba(255, 255, 255, .1);
}

.bkg-trans-2 {
    background-color: rgba(255, 255, 255, .2);
}

.bkg-white {
    background-color: white;
}

.bkg-black {
    background-color: black;
}

.bkg-green {
    background-color: green;
}

.bkg-light-green {
    background-color: #f0fff0;
}

.bkg-dark-gray {
    background-color: #c0c0c0;
}

.bkg-light-gray {
    background-color: #d0d0d0;
}

.bkg-vlight-gray {
    background-color: #e0e0e0;
}

.bkg-white {
    background-color: #ffffff;
}

.clr-white {
    color: #ffffff;
}

.clr-blue {
    color: blue;
}

.card-title {
    color: #008000;
}

.btn-green {
    color: #008000;
    background-color: #e8ffe8;
    border-color: #008000;
}

.btn-green.disabled,
.btn-green:disabled {
    color: #75b675;
    border: 0px;
}

.btn-green.focus,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.btn-green:not(:disabled):not(.disabled):active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, .1);
    animation: pulse .25s 1;
}

.button {
    cursor: pointer;
}

.pointer {
    cursor: pointer !important;
}

.hanging-indent {
    padding-left: 40px;
    text-indent: -40px;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.parts-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes pulse {
    from {
        background-color: #008000;
    }

    to {
        background-color: #e8ffe8;
    }
}

/* Standard syntax */

@keyframes pulse {
    from {
        background-color: #008000;
    }

    to {
        background-color: #e8ffe8;
    }
}

.no-border {
    border: 0px;
}

.border-top-gold {
    border-top: 1px solid;
    border-color: gold;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-menu {
    right: auto !important;
    left: auto !important;
}