body {
    font-size: .75rem !important;
    background-color: #060f3f !important;
}

.clr-def {
    color: #060f3f;
}

.bkg-def {
    background-color: #060f3f;
}

.btn-def {
    background-color: #060f3f;
}

.cover-item {
    position: relative;
    margin: 4px 4px;
    box-shadow: 2px 2px 4px #888;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

@media (max-width: 548px) {
    .cover-container {
        height: 460px;
        width: 100%;
        white-space: wrap;
        overflow-x: auto;
        overflow-y: auto;
    }

    .cover-item {
        height:50%;
    }
}

@media (min-width: 768px) {
    .cover-container {
        height: 190px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
    }
    
    .cover-item {
        display: inline-block;
        width:23%;
    }
}

@media (min-width: 992px) {
    .cover-container {
        height: 200px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
    }
    
    .cover-item {
        display: inline-block;
        width:23%;
    }
}

@media (min-width: 1200px) {
    .cover-container {
        height: 220px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
    }
    
    .cover-item {
        display: inline-block;
        width:18%;
    }
}

@media (min-width: 1920px) {
    .cover-container {
        height: 280px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: auto;
    }
    
    .cover-item {
        display: inline-block;
        width:15%;
    }
}